.emcali-notificaciones-judiciales {
body {
  background-color: white;
  font-size: 16px;
  font-weight: normal;
}
.logo{
    width: 200px;
  
}
.logo-div {
display: inline;


}
.input-wrap input, .input-wrap textarea,.input-wrap select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }

label{
  text-align: center;
  font-weight: normal;
  color: black;
}
h1{
text-align: right;
font-weight: normal;
}
h2{
font-weight: normal;
text-align:center;
text-transform: uppercase;
}

header{
 border-bottom: 1px solid #ccc;

}
.row{
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
   background-color: #f3f3f3;
}
li {
  display: inline;
  float: right;
  border-right: 1px solid #bbb;
}
li a {
 
}
li a:hover {
  background-color: #c80a12;
}
table{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
 
}

th, td{
  padding: 20px;
}

tr:nth-child(even){
  background-color: #ddd;
}
thead{
  /* background-color: #c80a12; */
  /* border-bottom: solid 5px #0F362D;
  color: white; */
}
.form-options{
 width: 400px;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-register {
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'arial';
  color: black;
  
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #c80a12;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.form-container {
  padding: 0 100px;
}

@media (max-width: 900px) {
  .form-container {
    padding: 0;
  }
}

.app-btn {
  width: 44%;
  background: #c80a12;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  position: inherit;
  left: 250px;
  bottom: -5px;
  
}

/* Helpers */
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.d-block {
  display: block;
}
.mr {
  margin-right: 15px;
}
.mb {
  margin-bottom: 15px;
}

.h1{
    position: inherit;
    bottom: 45px;
}

/* Radio btn */
/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  text-align: left;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #FB2025;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}
}

